body{
    margin: 0;
    background-image: url(pics/VECTEE~1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar{
    display: flex;
    gap: 28px;
    margin-right: 50px;
    
}
.lo{
    width: 10%;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color: #354649;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #A084CA;
    transition: 0.3s;
}
.navbar a:hover:before{
    width: 100%;

}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #354649;
}
.contact .content p{
    font-size: 20px;
    font-weight: 300;
    color: #354649;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.icon{
    min-width:60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #354649;
    flex-direction: column;
    font-weight: 300;

}
.text h3{
    font-weight: 500;
    color: #354649;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #A084CA;
    font-weight: 500;
    font-family: "Libre Baskerville", serif;
    font-style: normal;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.inputBox input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #354649;
    outline: none;
    resize: none;
    font-family: "Libre Baskerville", serif;
    font-style: normal;

}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.inputBox input[type="submit"]{
    width: 100px;
    background: #A084CA;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}



.fut{
    background-color:#354649;
    margin: 0;
    box-sizing: border-box;
    padding: 70px 0;
}
.futcontainer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    line-height: 1.5;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    font-weight: 0;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#645CAA;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
}











@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo, .contactForm{
        margin-bottom: 40px;
        width: 100%;
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 10px; 
    }
    .navbar .ahref {
        width: 100%; /* Each link takes up full width */
        box-sizing: border-box;
        padding: 5px 0;
        text-align: center;
    }

}